.Sidebar {
    background-color: #f4f4f4;
    min-height: 95vh; 
    display: flex;
    flex-direction: column; 
    padding: 10px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    transition: width 0.3s ease; 
}

.Sidebar.collapsed {
    width: 50px; 
}

.Sidebar.extended {
    width: 200px; 
}

.new-chat, .bottom-item {
    display: flex; 
    align-items: center; 
    padding: 4px; 
    border-radius: 50px; 
    transition: background-color 0.3s;
}

.new-chat:hover, .bottom-item:hover {
    background-color: #d1d7e0; 
}

.top {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}

.bottom {
    flex: 0 0 auto; 
    
}

.menu {
    width: 24px; 
    height: 24px; 
}

.new-chat img {
    width: 25px;
    height: 29px; 
    margin-right: 8px; 
}

.new-chat:hover {
    background-color: #d1d7e0; 
}

.recent {
    margin-top: 20px; 
}

.recent-title {
    font-weight: bold; 
    font-size: 18px; 
    margin-bottom: 10px; 
}

.recent-entry {
    display: flex; 
    align-items: center; 
    margin-top: 10px;
    padding: 4px;
    border-radius: 50px; 
    transition: background-color 0.3s; 
}

.recent-entry:hover {
    background-color: #d1d7e0; 
}

.recent-entry img {
    width: 20px; 
    height: 20px; 
    margin-right: 8px; 
}

.bottom-item img {
    width: 20px; 
    height: 20px; 
    margin-right: 8px; 
}

.bottom-item:hover {
    background-color: #e0e0e0; 
}