/* Font Import (Add to your main HTML or CSS) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Outfit;
}
.App {
    display: flex; 
}

.layout {
    display: flex; 
    width: 100%; 
}

.Sidebar {
   
    background-color: #f4f4f4; 
    min-height: 100vh;
}

.Main {
    flex: 1; 
    padding: 20px; 
}
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
#root{
    animation:fadeIn 1.5s;
}